<div class="d-flex flex-column body">

    <!-- FOOTER -->
    <footer class="w-100 py-4 flex-shrink-0">
        <div class="container py-4">
            <div class="row gy-4 gx-5">
                <div class="col-lg-4 col-md-6">
                    <h1 class="display-4 text-white">Escolare</h1>
                    <p class="small text-white">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                    <p class="small mb-0 text-white">&copy; Copyrights. All rights reserved. <a class="text-primary" href="#">Bootstrapious.com</a></p>
                </div>
                <div class="col-lg-2 col-md-6">
                    <h5 class="text-white mb-3">Quick links</h5>
                    <ul class="list-unstyled text-white">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Login</a></li>
                        <li><a href="#">Venda seus produtos</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 d-flex justify-content-end">
                        <%= link_to root_path, class: "navbar-brand" do %>
                          <%= image_tag "logo.png", class: "img-logo-footer" %>
                        <% end %>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>
