<div class="d-none">
<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
</div>

<div class="banner mt-2" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1629652487043-fb2825838f8c?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="container">
    <h1>Tudo em <strong>material escolar</strong>e afins<strong></strong></h1>
    <p></p>
    <a class="btn btn-primary" href="#">Veja nossas promoções</a>
  </div>
</div>
